@import "vars";
// переменные для цвета, шрифта, кусочки кода
@import "fonts";
// подключаем шрифты
@import "reset";
@import "libs";
@import "global";
// глобальные значения

.header {
  padding: 100px 0 120px;
  // обязательно пиши 100px - это высота шапки. Чтобы при скролле не подпрыгивал контент
  height: 100vh;
  &__top {
    padding: 60px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: padding 0.3s, background-color 0.3s;
  }
  &__top.fixed {
    padding: 20px 0;
    background-color: $bg;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
  }
  &__list-item:not(:last-child) {
    margin-right: 45px;
  }
}

.logo {
  display: inline-block;
  width: 200px;
  height: 39px;
  img {
    width: 200px;
    height: 39px;
  }
}

.user-navigation {
  display: flex;
  &__list:not(:first-child) {
    margin-left: 35px;
  }
  &__num {
    position: absolute;
    top: 4px;
    right: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background-color: $accent;
    color: $white;
    transition: background-color 0.3s, color 0.3s;
  }
  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: box-shadow 0.3s, background-color 0.3s, stroke 0.3s,
      border-color 0.3s;
    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      background-color: rgba(255, 122, 80, 0.1);
    }
    &:hover {
      background-color: $accent;
      path {
        stroke: $white;
      }
      .user-navigation__num {
        background-color: $white;
        color: $accent;
      }
    }
    &:active {
      path {
        stroke: $black;
      }
      border-color: $black;
      background-color: #fff2ed;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }
}

.header__content {
  position: relative;
  background-repeat: no-repeat;
  background-size: 560px 660px;
  background-position: right;
  width: 100%;
  height: calc(100vh - 100px);
  &-inner {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 450px;
    width: 100%;
  }
  &-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 66px;
    line-height: 1.3;
    color: $title;
    @extend %rubik-500;
    span {
      color: $accent;
    }
  }
  &-btn {
    border-radius: 5px;
    margin: 20px 34px 0 0;
    @extend %btn;
  }
  &-add {
    color: $title;
    display: inline-block;
    &::after {
      content: "";
      @extend %text-decoration;
    }
  }
}

.footer-top {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__logo {
    margin-bottom: 30px;
  }
  &__info:not(:last-child) {
    margin-bottom: 20px;
  }
  &__social-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__social-item:not(:last-child) {
    margin-right: 2px;
  }
  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    border-radius: 39px;
    background: #ececec;
  }
}

.form {
  &__field {
    margin-bottom: 12px;
    max-width: 200px;
    width: 100%;
    height: 44px;
    padding: 11px 13px;
    border-radius: 5px;
    border: 1px solid $gray;
    background: $white;
    opacity: 0.9;
    color: $gray;
    font-size: 14px;
    line-height: 1.3;
    transition: border 0.3s, background 0.3s, box-shadow 0.3s, color 0.3;
    &:focus {
      border: 1px solid rgba(194, 194, 194, 0);
      background: $white;
      box-shadow: 0 0 0 2px $accent;
      color: $title;
    }
    &:hover::placeholder {
      color: $title;
      opacity: 0.9;
      @extend %rubik-400;
      line-height: 130%; /* 18.2px */
    }
  }
  &__btn {
    border-radius: 5px;
    position: relative;
    display: flex;
    padding: 13px 38px 13px 69px;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0;
    @extend %btn;
    @extend %rubik-500;
    svg {
      position: absolute;
      left: 38px;
    }
  }
}

.address-info {
  &__list {
    margin-bottom: 15px;
  }
  &__item {
    color: $text;
    font-size: 16px;
    line-height: 2;
  }
  &__item {
    display: flex;
    align-items: center;
    svg {
      padding-right: 7px;
    }
  }
}

.footer-bottom {
  border-top: 1px solid $black;

  &__copy {
    padding: 30px 10px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: $text;
  }
}

.categories {
  &__title {
    margin-bottom: 60px;
  }
  &__add {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

.categories-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 22px 32px 22px 86px;
    border-radius: 5px;
    background: $white;
    box-shadow: 0 0 0 1px $silver-100;
    svg {
      position: absolute;
      left: 32px;
    }
  }
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin-bottom: 60px;
  &__list {
    padding: 20px 15px;
    max-width: 210px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $silver-100;
    text-align: center;
    background: $white;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 0 1px $accent;
    }
  }
}

.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 28px;
    font-size: 15px;
    flex-shrink: 1;
  }
  &__price {
    margin-bottom: 10px;
    margin-top: auto;
    font-size: 15px;
    @extend %rubik-500;
  }
  &__btn {
    padding: 7px 16px;
    font-size: 14px;
    line-height: 1.3;
    color: $white;
    border-radius: 6px;
    background: $accent;
  }
}

.product {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@import "media";
// media запросы
